@keyframes drop {
    0%{transform:translateY(-100px)}
    60%{transform:translateY(-5px)}
    100%{transform:translateY(0px)}
    
}


.homepage {
    background-color: rgb(11, 1, 24);
    height: 100vh;
}

.home-container {
    display: flex; flex-direction: column;
    width: 100%;
}

.home-banner{
    width: 100vw;
    height: 33.3vw;
}

.home-banner img{
    width: 100vw;
    height: 30vw;
    object-fit: cover;
}

.home-content {
    display: flex;
    justify-content: space-between;
    margin-left: auto; margin-left: auto;
}

.home-left{
    width: 33%;
    margin-top: -50vh;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fast-infos{
    width: auto;
    height: 25vh;
    font-weight: 700;
    display: flex; flex-direction: column;
    justify-content: center;
    gap: .3rem;
}

.fast-infos-link{
    font-size: 26px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(23, 23, 90);
    font-family: 'Bebas Neue';
    transition: .3s ease;
}
.fast-infos-link:hover{
    color: rgb(43, 43, 163);
}

.fast-pic{
    width: 25vh;
    height: 25vh;
}

.fast-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
}

.home-right{
    width: 50%;
    margin-top: -50vh;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue';
    color: rgb(21, 2, 39);
}

.sections {
    display: flex;
    gap: 2rem;
    height: 25vh;
    width: 40%;
    background-color: white;
    cursor: pointer;
    opacity: .8;
    border: solid 5px white;
    border-radius: 5px;
    animation: drop 3s;
}
.sections:hover {
    transition: ease .3s;
    opacity: 1;
    border: solid 5px rgb(21, 2, 39);
    border-radius: 5px;
}

/* Mobiles */
@media screen and (max-width: 768px) {

    .home-banner , .home-banner img{
        height: 35vw;
    }

    .home-content {
        flex-direction: column;
        margin-left: 0; margin-right: 0;
    }

    .home-left{
        width: 90%;
        margin-top: 30px;
        margin-left: 20px; 
        gap: 1rem;
        justify-content: center;
    }

    .fast-pic, .fast-pic img{
        width: 15vh;
        height: 15vh;
    }

    .fast-infos{
        color: white;
        height: 20vh;
    }

    .fast-infos-link{
        font-size: 18px;
        color: rgb(214, 214, 218);
    }
    .fast-infos-link:hover{
        color: rgb(48, 48, 63);
        transition: .25s ease;
    }

    .home-right{
        width: 100%;
        margin-top: 30px;
        padding: 2%;
        justify-content: center;
        gap: 1rem;
    }
    .sections {
        gap: .3rem;
        height: 20hv;
        width: 45%;
        align-items: center;
    }
    .sections img {
        height: 20vw;
        width: 20vw;
    }
    .sections h2 {
        width: 20vw;
    }
}