.news-title {
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    width: 100%;
    padding: 2% 5%;
    display: flex;
    margin-left: 0; margin-right:0 ;
    color: white;
}

.news-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 1% 5%;
}

.post {
    display: flex;
    justify-content: space-between;
    background-color: rgb(48, 46, 49);
    opacity: 0.8;
    border-radius: 10px;
    padding: 1% 2%;
}

.post-infos {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 14px;
    line-height: 24px;
}

.post-infos h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.post-link {
    font-size: 20px;
    text-decoration: underline;
    font-weight: 500;
    margin-top: 10px;
}
.post-link:hover {
    cursor: pointer;
    color: rgb(167, 101, 230);
    transition: .3s ease;
}

.post-img {
    width: 120px;
    height: 120px;
}

.post-pic{
    width: 120px;
    height: 120px;
    object-fit: cover;
}


/* Mobiles */
@media screen and (max-width: 768px) {
    .news-title {
        font-size: 24px;
    }
    .news-container {
        padding: 1% 2%;
        padding: .5rem;
    }
    .post-infos {
        font-size: 12px;
        line-height: 16px;
    }
    
    .post-infos h2 {
        font-size: 18px;
    }
    
    .post-link {
        font-size: 14px;
    }
    .post-img, .post-pic{
        width: 60px;
        height: 60px;
    }
}