.airdrops-title {
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    width: 100%;
    padding: 2% 5%;
    display: flex;
    margin-left: 0; margin-right:0 ;
    color: white;
}

.airdrops-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 1% 5%;
}

.airdrops {
    display: flex;
    justify-content: space-between;
    background-color: rgb(48, 46, 49);
    opacity: 0.8;
    border-radius: 10px;
    padding: 1% 2%;
    height: 25vh;
    gap:1rem;
    text-decoration: none;
    border: solid 3px transparent;
}
.airdrops:hover {
    cursor: pointer;
    border: solid 3px #af87e2;
    opacity: .9;
    transition: .3s ease;
}

.airdrops-infos {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 14px;
    line-height: 22px;
}

.airdrops-infos h2 {
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 5px;
}

.airdrops-img {
    width: 120px;
    height: 120px;
}

.airdrops-pic{
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.span1 {
    font-weight: 800;
}

.span2 {
    margin-right: 25px;
}

.description {
    font-size: 13px;
    text-overflow: ellipsis;
}

/* Mobiles */
@media screen and (max-width: 768px) {
    .airdrops-title {
        font-size: 24px;
    }
    .airdrops-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        padding: 1% 2%;
    }
    .airdrops {
        gap: .5rem;

    }
    .airdrops-infos {
        font-size: 12px;
        line-height: 16px;
    }
    .span2 {
        margin-right: 20px;
    }
    
    .airdrops-infos h2 {
        font-size: 18px;
        text-decoration: underline;
        margin-bottom: 5px;
    }
    .airdrops-img, .airdrops-pic {
        width: 50px;
        height: 50px;
    }
    .description {
        font-size: 11px;
    }
       
}