/* MODAL */
.modal-container {
    width: 80vw;
    height: 100vh;
    margin-left: auto; margin-right: auto;
    background-color: rgb(223, 223, 221);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 10vw;
}

.modal-header, .modal-body {
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.modal-body input {
    margin-bottom: 1%;
}

.modal-title {
    font-size: 26px;
    font-weight: 600;
}

.modal-footer {
    display: flex;
    gap : 5rem;
    padding: 0%;
    justify-content: center;
}


/* MY POSTS */
.myPosts-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}

.myPosts-buttons, .modal-btn {
    text-decoration: none;
    color: var(--color-two);
    font-weight: 400;
    font-size: 14px;
    line-height: 2rem;
    padding: 1% 2.5%;
    background-color: var(--color-one);
    border-radius: 5px;
}

.myPosts-buttons:hover, .modal-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.gallery-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.gallery-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    background-color: white;
    color: rgb(1, 1, 34);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.gallery-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.gallery-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    opacity: 0.9;
}

.myPosts-btn-container {
    width: 60%;
}


/* Mobiles */
@media screen and (max-width: 768px) {

    .modal-container {
        width: 100vw;
        height: 80vh;
        margin-top: 20vh;
        left: 0;
    }
    .modal-body input {
        font-size: 10px;
    }

    .gallery-link {
        height: 200px;
    }
    .gallery-data {
        font-size: 12px;
        height: 80%;
        align-items: start;
        color: black;
    }
    .gallery-text h2 {
        font-size: 13px;
        font-weight: 700;
    }
    .gallery-text p {
        font-size: 11px;
        text-overflow: ellipsis;
    }
    .gallery-pic {
        width: 30px;
        height: 30px;
        object-fit: cover;
        opacity: 0.9;
    }
}

